.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.npmrc
esbuild.js
eslint.config.mjs
tsconfig.json
pnpm-lock.yaml
CLAUDE.md
convert-icon.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
*.vsix
